* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    text-decoration: none;
  }

  /*style do cards*/

  .grupo{
    
    padding: 0;
    margin: 10%;

  }

  .carta {
    height: 100%;
    background-color: #f9d71c;
  }


  /*fim do style do cards*/

/*comentarios*/
a{
    text-decoration: none;
}

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020 ;
    color: #ffff;
    padding: 10px 20px;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;

}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #000000;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #636363;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;

}

/*fim do comentarios*/

.subpe{
    display: flex;
}
/*maps*/
.maps{
    padding: 5%;
}

/*fim do maps*/

/*fim do maps*/
.form {
padding: 10%;
    width: 50%;
}

.form .title  {
    background-color: #000000;
    z-index: 888;
}
/*fim do maps*/