footer main {
    height: 80vh;
  }
  
  footer {
    width: 100%;
    color: #fff;
    z-index: 200%;
  }
  
  
  
  .footer-link {
    text-decoration: none;
  }
  
  #footer_content {
    background-color: #2c2c2c;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    width: 100%;
     margin-left: 2rem;
  }
  
  #footer_contacts h1 {
    margin-bottom: 0.7rem;
  }
  
  #footer_midia {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
  }
  
  #footer_midia .footer-link i {
    font-size: 1.25rem;
  }
  
  #footer_midia .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
  }
  
  #footer_midia .footer-link:hover {
    opacity: 0.8;
  
  }
  
  #instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }
  
  #facebook {
    background-color: #4267b3;
  
  }
  
  #twitter {
    background-color: #0055ff;
  }
  
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
  }
  
  .footer-list .footer-link {
    color: #9494948e;
  }
  
  .footer-list .footer-link:hover {
    color: #7f37c9;
  }
  
  #footer_cadastro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  #footer_cadastro p {
    color: #9494948e;
  }
  
  #input_group {
    display: flex;
    align-items: center;
    background-color: #222222;
    border-radius: 4px;
  }
  
  #input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
  }
  
  #input_group button {
    background-color: #ccca48;
    border: none;
    color: #000000;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  #input_group button:hover {
    opacity: 0.8;
  }
  
  #footer_copyright {
    display: flex;
    justify-content: center;
    background-color: #00000060;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
  
  
  }

  
  
@media screen and (max-width: 768px) {
    #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-left: 0;
      margin-bottom: 2rem;
    }
  }
  
  @media screen and (min-width:320px) and (max-width: 769px) {
  
    .about_main {
      width: 100%;
      height: 100%;
  
    }
  
    .row {
      transition: all .40s;
      display: flex;
      position: relative;
      width: 100%;
      height: 70%;
      margin-left: 1rem;
      justify-content: center;
    }
  
    .row img {
      width: 100%;
      height: auto;
      transition: all .40s;
    }
  
    .row img:hover {
      transform: scale(0.9);
    }
  
  
  
  
    #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
    }
  }