* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

aside{
    position: fixed;
    left: 0;
    width: fit-content;
    max-width: 65px;
    height: 100%;
    z-index: 200%;
}
nav.menu-lateral {
    height: 100%;
    background-color: #202020;
    border-right: 3px solid #6092ff;
    overflow: hidden;
    transition: .5s;
    
}

nav.menu-lateral.expandir {
    width: fit-content;
    max-width: 300px;

}

.btn-expandir {
    width: 100%;
    padding: 1rem;
}

.btn-expandir>i {
    color: #ffff;
    font-size: 24px;

    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;

}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #6092ff;
}

ul li.item-menu:hover {
    background: #6092ff;
}

ul li.item-menu a {
    color: beige;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
   
    padding-right: 1.5rem
}

ul li.item-menu a .text-link {

    transition: .5s;
    opacity: 0;

}

nav.menu-lateral.expandir .text-link {

    opacity: 1;
}

ul li.item-menu a .icon {

    padding: 1rem;
    flex-shrink: 1;
}

ul li.item-menu a .icon>i {
    font-size: 24px;
    margin: auto;
}


@media (max-width:768px) {
    aside{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: inherit;
        height: 65px;
        transition: 1s;
    }
    nav.menu-lateral {
        
        background-color: #202020;
        border-right: 0;
        border-top:3px solid #6092ff ;
        
        overflow: hidden;
        transition: .5s;
    }

    .menu-itens {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }



    .text-link {
        display: none;
    }
    ul li.item-menu {
        transition: .2s;
        width: 100%;
        height: 100%;
    }
    ul li.item-menu a {
        width: 100%;    
        padding-right:0 ;
        height: 100%;
    }
    ul li.item-menu a .icon {
        padding: 0;
        
        margin: auto;
    }
    
    .btn-expandir {
        display: none;
    }

}