main{
  margin-top:8vh;
}
nav {
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, sans-serif;
    height: 8vh;
    background-color: black;
    margin: 0;
  }
  
  .nav-list a {
    color: #fff;
    text-decoration: none;
    transition: 0, 3s;
  }
  
  .nav-list a:hover {
    opacity: 0.7s;
  }
  
  .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .nav-list nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #000;
    height: 8vh;
  }
  
  .nav-list {
    z-index: 2;
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
  }
  
  .nav-list section {
    padding: 35px 20px;
  }
  

  @media (max-width: 1040px) {

    section {
      padding: 100px 20px;
    }
  
    .home .media-icons {
      right: 15px;
    }
  }
  
  
  @media screen and (max-width: 998px) {
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #000;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
  
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
  
    .mobile-menu {
      display: block;
  
    }
    
    .mobile-menu div {
      width: 32px;
      height: 2px;
      background: white;
      margin: 8px;
      transition: 0.3s;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
   @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  } 
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }  