/*.wrapper {
    max-height: 120px;
    border: 1px solid #ddd;
    display: flex;
    overflow: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: blue;
    margin-right: 4px;
}*/


/*serviços*/
.container-fluid { 
       display: flex;
       padding: 35px;
       margin-left: 0%;
       overflow: auto;
       justify-content: center;
  }


  @media screen and (max-width: 1570px) {
    .container-fluid{
      justify-content: normal;
    }
    
  }
  .container-fluid ::-webkit-scrollbar{
    width: 0;
}
  
  .card {
    position: relative;
    min-width: 250px;
    height: 300px;
    line-height:300px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
 z-index: 0;
  }
  
  .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
  }
  
  .card:hover .content {
    transform: translateY(-20px);
  }
  
  .card .content .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
  
  .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card .content .contentBx h3 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
  
  .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  
  .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
    overflow: hidden;
  }
  

/*fim dos serviços*/