* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


/*Cards*/

.grupo {
  margin: 10%;
}

/*Cards*/


/*video*/

body{
  overflow-x: hidden;   
}
ul,li,h1,h2,h3,h4,h5,ol{
  margin: 0;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
}

.home {
  padding: 35px;
  position: relative;
  width: 100%;
  min-height: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #48a7cc;
  z-index: 1;
}

.home::before {
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(3, 3, 3, 0.342);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  

}

.home .content {
  padding: 35px;
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 5px;
}

.home .content h1 {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  list-style: 75Px;
  margin-bottom: 10px;
}

.home .content h1 span {
  font-size: 0.5em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 50px;
}

.home .content button {
  font-size: larger;
  background: #fff;
  padding: 15px 35px;
  color: #000000;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 15px;
  border: 0;
  cursor: pointer;

}

.media-icons {
  z-index: 888;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  width: 10%;
  top: -13rem;
  right: 5vh;
  align-items: end;
  margin-left: 90%
}

.media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.media-icons a:hover {
  transform: scale(1.3);
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*card*/

.container-fluid {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
  padding: 35px;
}

.card {
  position: relative;
  width: 250px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.card:hover .content {
  transform: translateY(-20px);
}

.card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content .contentBx h3 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
  overflow: hidden;
}


.wrapper {
  padding: 10px 10%;
}
#card-area{
  padding: 50px 0;
}
.box-area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.box{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}
.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay{
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #b5e8ff 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h3{
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: bebas neue;
  font-size: 30px;
  letter-spacing: 2px;
}

.overlay a {
  margin-top: 10px;
  color: #222222;
  text-decoration: none;
  font-size: 14px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;

}

.boxLhover img {
  transform: scale(1.2);
}

.box:hover .overlay{
  height: 100%;
}



/*empresa*/
.quality{
  background-color: #fff;
}

.quality_content{
  row-gap: 2.5rem;
}

.quality_images{
  position: relative;
  justify-self: center;
}

.quality_img-big, 
.quality_img-small{
  border-radius: .5rem;
} 

.quality_img-big{
  width: 280px;
}

.quality_img-small{
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transform: translateX(-5rem);
}

.quality_title, .quality_price {
  font-size: #0000;
} 

.quality_title{
  margin-bottom: .75rem;
}

.quality_price{
  margin-bottom: .25rem;
}
.quality_descricao {
  display: block;
  font-size: #fa1919;
  margin-bottom: .75rem;
}

.quality_text{
  margin-bottom: 2.5rem;
}

.quality_buttons {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  
}

.quality_buttons button {
  font-size: #1a489c;
  text-transform: uppercase;
  color: #aa1772;
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
}

.quality_button i{
  font-size: 1.25rem;
  transition: .4s;

}

.quality_button:hover i{
transform: translateX(.25rem);
}


/*footer*/



/*responsivo*/



@media (max-width: 1040px) {

  section {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }
}


@media screen and (max-width: 998px) {
  body {
    overflow-x: hidden;
  }
}

/*footer*/

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width:320px) and (max-width: 769px) {

  .about_main {
    width: 100%;
    height: 100%;

  }

  .row {
    transition: all .40s;
    display: flex;
    position: relative;
    width: 100%;
    height: 70%;
    margin-left: 1rem;
    justify-content: center;
  }

  .row img {
    width: 100%;
    height: auto;
    transition: all .40s;
  }

  .row img:hover {
    transform: scale(0.9);
  }




  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

/*funçoes*/
@media screen and (max-width: 750px) {
  main.cards {
    flex-direction: column;
  }

  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }

  main.cards section.card:last-child {
    margin-bottom: 0;
  }

  main.cards section.card button {
    font-size: 70%;
  }

}       